<!-- Navbar -->

<div>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:rgb(236,79,162)">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          {{!-- <img src="/img/neonatesLogo.png" height="80" alt="MDB Logo" loading="lazy" /> --}}
          <h3 class="p-3" style="font-size: 30px;
  background: -webkit-linear-gradient(#2735b3, #d88a16);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">neonates</h3>
        </a>
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="/home" class="text-white btn btn-success rounded-pill mx-2">Home</a>
      <a href="/landing" class="text-white btn btn-success rounded-pill mx-2">All</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle btn btn-success rounded-pill text-light"
              data-bs-toggle="dropdown">Categories</a>
            <div class="dropdown-menu">
              {{#each category}}
              <a class="dropdown-item" href="/eachCategory/{{this._id}}">{{this.category}}</a>
              {{/each}}
            </div>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
            <a href="/search" class="text-light"><span class="material-symbols-outlined p-2">
                search
              </span></a>
            <a {{#if user}}href="/cart" {{else}} id="myCart" href="" {{/if}} onclick="showModal()"
              class="text-light"><span class="material-symbols-outlined p-2">
                shopping_cart{{#if user}}<sub
                  style="font-size: x-small; background-color:red; border-radius:20px;padding:1px">{{TotalQuantity}}</sub>{{/if}}
              </span></a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle btn btn-success rounded-pill text-light"
                data-bs-toggle="dropdown">Options</a>
              <div class="dropdown-menu">
                {{#if user}}<a href="/userDashBoard" class="dropdown-item">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Account</a>{{else}}
                <a href="/signUp" class="dropdown-item">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  SignUp</a>{{/if}}
                <a class="dropdown-item" {{#if user}}href="/logout" data-toggle="modal" data-target="#logoutModal"
                  {{else}}href="/userLogin" {{/if}}>
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  {{#if user}}Logout{{else}}Login{{/if}}
                </a>

              </div>
            </div>
          </div>

        </div>
      </div>
  </nav>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
  $("#myCart").on('click', function () {
    alert("Login or signUP");
  });
</script>