<section class="bg-light py-5" style="margin-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 mb-4">
        {{#if addressZero}}
        <div class="card mb-4 border shadow-0">
          <div class="p-4 d-flex justify-content-between">
            <div class="">
              <h5>You don't have an address yet</h5>

            </div>
            <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
              <a href="/addAddress2" class="btn btn-outline-primary me-0 me-md-2 mb-2 mb-md-0 w-100">Add</a>

            </div>
          </div>
        </div>
        {{/if}}
        {{#if addressOne}}
        <div class="card mb-4 border shadow-0">
          <div class="p-4 d-flex justify-content-between">
            <div class="">
              <h5>You can add one more address</h5>

            </div>
            <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
              <a href="/addAddress2" class="btn btn-outline-primary me-0 me-md-2 mb-2 mb-md-0 w-100">Add</a>

            </div>
          </div>
        </div>
        {{/if}}

        <!-- Checkout -->
        <div class="card shadow-0 border">
          <div class="p-4">
            <h5 class="card-title mb-3">Shipping info</h5>
            <div class="row mb-3">
              {{#each arr}}
              <div class="col-lg-6 mb-3">
                <!-- Default checked radio -->
                <div class="form-check h-100 border rounded-3">
                  <div class="p-3">
                    <input class="form-check-input getAddress" type="radio" name="address" value="{{this._id}}"
                      id="flexRadioDefault1{{this._id}}" checked />
                    <label class="form-check-label" for="flexRadioDefault1{{this._id}}">
                      {{this.country}}<br />
                      <small class="text-muted">{{this.state}},</small>
                      <small class="text-muted">{{this.district}},</small>
                      <small class="text-muted">{{this.city}},</small>
                      <small class="text-muted">{{this.pinCode}},</small>
                      <small class="text-muted">{{this.phone}}</small>
                    </label>
                  </div>
                </div>
              </div>
              {{/each}}

            </div>

            <!--  <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Keep me up to date on news</label>
            </div> -->

            <hr class="my-4" />

            <div class="container">
              <div class="row">
                <h5 class="card-title mb-3">Payment Method</h5>
                <div class="ps-4 col-lg-4 mb-3">
                  <input class="form-check-input getPayType" type="radio" id="COD" name="brand" value="COD">
                  <p>COD</p>
                  <label for="COD"><img src="/img/cash-on-delivery.png" alt="" style="width: 50px;"></label>
                </div>
                <div class="ps-4 col-lg-4 mb-3">
                  <input class="form-check-input getPayType" type="radio" id="Razorpay" name="brand" value="Razorpay">
                  <p>Razorpay</p>
                  <label for="Razorpay"><img src="/img/razorpay.svg" alt="" style="width: 80px;"></label>
                </div>
                <div class="ps-4 col-lg-4 mb-3">
                  <input class="form-check-input getPayType" type="radio" id="wallet" name="brand" value="wallet">
                  <p>Use Wallet</p>
                  <label for="wallet"><img src="/img/icons8-wallet-48.png" alt="" style="width: 55px;"></label>
                  <span class="text-primary ms-3 btn btn-warning" onclick="wallet()">View</span>
                </div>
              </div>
            </div>

            <!-- <div class="row mb-3">
              <div class="col-lg-4 mb-3">
                <!-- Default checked radio --
                <div class="form-check h-100 border rounded-3">
                  <div class="p-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Express delivery <br />
                      <small class="text-muted">3-4 days via Fedex </small>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-3">
                <!-- Default radio --
                <div class="form-check h-100 border rounded-3">
                  <div class="p-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                    <label class="form-check-label" for="flexRadioDefault2">
                      Post office <br />
                      <small class="text-muted">20-30 days via post </small>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-3">
                <!-- Default radio --
                <div class="form-check h-100 border rounded-3">
                  <div class="p-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                    <label class="form-check-label" for="flexRadioDefault3">
                      Self pick-up <br />
                      <small class="text-muted">Come to our shop </small>
                    </label>
                  </div>
                </div>
              </div>
            </div> 

          <!--  <div class="row">
              <div class="col-sm-8 mb-3">
                <p class="mb-0">Address</p>
                <div class="form-outline">
                  <input type="text" id="typeText" placeholder="Type here" class="form-control" />
                </div>
              </div>

              <div class="col-sm-4 mb-3">
                <p class="mb-0">City</p>
                <select class="form-select">
                  <option value="1">New York</option>
                  <option value="2">Moscow</option>
                  <option value="3">Samarqand</option>
                </select>
              </div>

              <div class="col-sm-4 mb-3">
                <p class="mb-0">House</p>
                <div class="form-outline">
                  <input type="text" id="typeText" placeholder="Type here" class="form-control" />
                </div>
              </div>

              <div class="col-sm-4 col-6 mb-3">
                <p class="mb-0">Postal code</p>
                <div class="form-outline">
                  <input type="text" id="typeText" class="form-control" />
                </div>
              </div>

              <div class="col-sm-4 col-6 mb-3">
                <p class="mb-0">Zip</p>
                <div class="form-outline">
                  <input type="text" id="typeText" class="form-control" />
                </div>
              </div>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" />
              <label class="form-check-label" for="flexCheckDefault1">Save this address</label>
            </div>

            <div class="mb-3">
              <p class="mb-0">Message to seller</p>
              <div class="form-outline">
                <textarea class="form-control" id="textAreaExample1" rows="2"></textarea>
              </div>
            </div>-->

            <div class="float-end">

              <!-- <button class="btn btn-light border">Cancel</button> -->
              <button type="button" id="placeOrder" class="btn btn-success shadow-0 border">Place Order</button>
            </div>
          </div>
        </div>
        <!-- Checkout -->
      </div>
      <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
          <h6 class="mb-3" style="color: rgb(236,79,162);">Summary</h6>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2">&#x20b9;{{priceAndTotalCount}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Discount:</p>
            <p class="mb-2 text-danger">{{discountDetail.dis}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Shipping cost:</p>
            <p class="mb-2">+ 0.00</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total price:</p>
            <p class="mb-2 fw-bold">&#x20b9;<span id="totalPrice">{{discountDetail.total}}</span></p>
          </div>

          <!--<div class="input-group mt-3 mb-4">
            <input type="text" class="form-control border" name="" placeholder="Promo code" />
            <button class="btn btn-light text-primary border">Apply</button>
          </div>-->

          <hr />
          <h6 class="my-4" style="color: rgb(236,79,162);">Items in cart</h6>
          {{#each cartItem}}
          <div class="d-flex align-items-center mb-4">
            <div class="me-3 position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                {{this.quantity}}
              </span>
              <img src="/images/{{this.product.image.[0]}}" style="height: 96px; width: 96x;"
                class="img-sm rounded border" />
            </div>
            <div class="">
              <p hidden id="proname">{{this.product.productname}}</p>
              <a href="#" class="nav-link">
                {{this.product.productname}}<br />
                {{this.product.brandname}}
              </a>
              <div class="price text-muted" id="total"> &#x20b9;{{this.product.price}}</div>
            </div>
          </div>
          {{/each}}

          <!--<div class="d-flex align-items-center mb-4">
            <div class="me-3 position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                1
              </span>
              <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp" style="height: 96px; width: 96x;" class="img-sm rounded border" />
            </div>
            <div class="">
              <a href="#" class="nav-link">
                Apple Watch Series 4 Space <br />
                Large size
              </a>
              <div class="price text-muted">Total: $217.99</div>
            </div>
          </div>-->

          <!--<div class="d-flex align-items-center mb-4">
            <div class="me-3 position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                3
              </span>
              <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/1.webp" style="height: 96px; width: 96x;" class="img-sm rounded border" />
            </div>
            <div class="">
              <a href="#" class="nav-link">GoPro HERO6 4K Action Camera - Black</a>
              <div class="price text-muted">Total: $910.00</div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<!-- Footer -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  $('#placeOrder').click(function (e) {
    e.preventDefault();
    let addressId = $('.getAddress:checked').val();
    let paymentType = $('.getPayType:checked').val();
    let totalPrice = $('#totalPrice').text();
    alert(totalPrice)
    $.ajax({
      url: '/placeOrder',
      data: {
        addressId: addressId,
        payType: paymentType,
        total: totalPrice
      },
      method: 'post',
      success: (function (response) {
        if (response.codSuccess) {
          Swal.fire({
            title: 'Order Placed Successfully!',
            text: 'If you need to view the order go to dashboard',
            icon: 'success',
            showConfirmButton: true,
            confirmButtonText: "View order"
          }).then(function () {
            window.location.href = "http://localhost:3000/userDashBoard"

          })
        }
        else if (response.insufficientWallet) {
          Swal.fire({
            iconHtml: '<img src="/img/icons8-wallet-48.png">',
            title: "Insufficient Wallet!",
            showCancelButton: true,
            showConfirmButton: false

          })
        }
        else {
         // alert("success")
          razorPayment(response);
        }
      })
    })
  })
  function razorPayment(order) {
    var options = {
      "key": "rzp_test_pgqzwpmJIeUjDN", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Acme Corp",
      "description": "Test Transaction",
      "image": "/img/neonatesLogo.png",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {

        verifyPayment(response, order)
      },
      "prefill": {
        "name": "neonates",
        "email": "easyedavsm@gmail.com",
        "contact": "9000090000"
      },
      "notes": {
        "address": "neonates"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
  function verifyPayment(payment, order) {
    //alert("cal comes")
    $.ajax({
      url: '/verifyPayment',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (function () {
        Swal.fire({
          title: 'Order Placed Successfully!',
          text: 'If you need to view the order go to dashboard',
          icon: 'success',
          showConfirmButton: true,
          confirmButtonText: "View order"
        }).then(function () {
          window.location.href = "http://localhost:3000/userDashBoard"

        })
      })
    })
  }
</script>
<script type="text/javascript">
  window.history.forward();
  function noBack() {
    window.history.forward();
  }
</script>
<script>
  function wallet() {
    $.ajax({
      url: "/wallet",
      method: 'get',
      success: (function (response) {
        if (response.wallet) {
          Swal.fire({
            iconHtml: '<img src="/img/icons8-wallet-48.png">',
            text: response.name,
            title: "Wallet: Rs." + response.wallet,
            showCancelButton: true,
            showConfirmButton: false

          })
        }
        else {
          Swal.fire({
            iconHtml: '<img src="/img/icons8-wallet-48.png">',
            title: response.name,
            text: "Wallet: " + "Empty",
            showCancelButton: true,
            showConfirmButton: false

          })
        }

      })
    })

  }
</script>